<h1><%= facade.students.count %> Students</h1>


<ul class=".students">
  <% facade.students.each do |student| %>
  <li class=".student">
    <p><%= student.name %></p>
    <p><%= student.id %></p>
  </li>
  <% end %>
</ul>
